*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #DADBD4 15%);
}

.content-left, .content-right{
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.content-left{
    background-color: red;
}

.content-right{    
    background-color: blue;
}

.user, .user-chat{
    width: 100%;
    height: 50px;
    background-color: black;
}

.notifications{
    width: 100%;
    height: 70px;
    background-color: green;
}

.search-bar{
    width: 100%;
    height: 40px;
    background-color: yellow;
}

.chat{
    width: 100%;
    height: 500px;
    background-color: white;
}

.content-chat{
    width: 100%;
    height: 600px;
    background-color: brown;
}

.input-bar{
    width: 100%;
    height: 50px;
    background-color: violet;
}