*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 15%, #DADBD4 15%);
}

.content-left, .content-right{
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.content-left{
    background-color: red;
}

/* SECTION USER */
.user, .user-chat{
    width: 100%;
    height: 40px;
    border-right: 1px solid rgb(197, 195, 195);
    background-color: #EAEAEA;
}

.user img{
    width: 30px;
    border-radius: 50%;
}

.user span{
    font-size: 12px;
}

.user .fa-circle-notch, .fa-message, .fa-ellipsis-vertical{
    color: #B1B1B1;
}
/* END SECTION USER */
/* NOTIFICATIONS */
.notifications{
    width: 100%;
    background-color: #8EDAFC;
}

 .notifications .fa-bell-slash{
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
    padding: 8px 5px;
}

.notifications div{
    margin-top: 6px;
    font-size: 11px;
}

.notifications a{
    font-size: 9px;
    color: grey;
}
/* END NOTIFICATIONS */
/* SEARCH-BAR */
.search-bar{
    width: 100%;
    background-color: white;
}

.search-bar .fa-magnifying-glass{
    margin: 4px 0 4px 5px;
    padding: 5px 3px;
    width: 97%;
    vertical-align: middle;
    background-color: white;
    border: 1px solid rgb(227, 224, 224);
    color: #B1B1B1;
}

input{
    border: none;
    width: 92%;
}

input::placeholder{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #B1B1B1;
}
/* END SEARCH-BAR */
/* CHAT */
.chat{
    width: 100%;
    height: 589px;
    background-color: white;
}

.chat img{
    width: 50px;
    border-radius: 50%;
    margin: 0 5px 0 13px;
}

.chat strong, .user-chat strong{
    font-size: 14px;
    color: black;
}

.chat div, .user-chat div{
    font-size: 9px;
    color: #B1B1B1;
}

.chat .m-b{
    margin-bottom: 40px;
}

.border{
    border-bottom: 1px solid rgb(196, 192, 192);
}
/* END CHAT */
/* USER-CHAT */
.user-chat img{
    width: 35px;
    border-radius: 50%;
    margin: 0 5px 0 13px;
}

.user-chat .fa-magnifying-glass, .fa-paperclip, .fa-ellipsis-vertical{
    font-size: 15px;
    color: #B1B1B1;
}
/* END USER-CHAT */
/* CONTENT-CHAT */
.content-chat{
    width: 100%;
    height: 625px;
    background-image: url('../img/mine.jpg');
    /* position: relative; */
}

.back{
    width: 80%;
    margin: 10px auto;
}

.white{
    background-color: white;
    width: 200px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    /* position: absolute; */
    /* top: 5%;
    left: 0%;
    transform: translate(-0%, 5%); */ 
}

.green{
    background-color: #D5F9BA;
    width: 200px;
    font-size: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    /* position: absolute;  */
    /* right: 0%;
    top: 40%;
    transform: translate(-0%, 40%); */ 
}

.right{
    margin-right: 100px;
}

.left{
    margin-left: 100px;
}

.date{
    position: absolute;
    bottom:2%;
    right: 2%;
    transform: translate(-2%, -2%);
    font-size: 9px;
    color: #B1B1B1;
}
/* END CONTENT-CHAT */
/* INPUT-BAR */
.input-bar{
    width: 100%;
    background-color: #F3EEEA;
}

.input-bar input{
    width: 750px;
    padding: 8px;
    border-radius: 5px;
}

.fa-face-smile, .fa-microphone{
    color: #B1B1B1;
}
/* END INPUT BAR */



